workflows-n8n/05- Agente com RAG/Agente_com_RAG.json
{
  "name": "Agente com RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "382d3d05-f692-4c01-b9c7-73ab6fbd82e8",
      "name": "When chat message received",
      "webhookId": "5fa85361-4384-4142-9839-a0f9170178bd"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "lojaonline",
          "mode": "list",
          "cachedResultName": "lojaonline"
        },
        "options": {
          "pineconeNamespace": "namespacen8necomerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "id": "40c63ff0-7e74-4635-84b3-e120f2bf3c8a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MCiqKEc4bDzwvQ83",
          "name": "PineconeApi account 14"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        440
      ],
      "id": "8f6441e1-aa2c-4843-9d69-9743531d3444",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bbXp2MlMF9OxMXDv",
          "name": "OpenAi account 37"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        280
      ],
      "id": "393cef6e-1cf6-4feb-8116-0a2149547f67",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bbXp2MlMF9OxMXDv",
          "name": "OpenAi account 37"
        }
      }
    },
    {
      "parameters": {
        "description": "Respostas ao cliente baseado em dados da empresa"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        540,
        140
      ],
      "id": "ff00f76c-5c72-4efd-8a7b-2683483855d4",
      "name": "POLITICA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        140
      ],
      "id": "acd6245c-76c2-48f6-bb3e-4211a77126ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bbXp2MlMF9OxMXDv",
          "name": "OpenAi account 37"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        120
      ],
      "id": "57eb25da-5731-45b6-9e82-b7a99234f0fa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "#O que você é\nVocê é um assistente capaz de responder às perguntas dos usuários com base\napenas nas informações sobre as politicas da empresa utilizando a POLITICA\n#O Que você Faz\nSua principal função é responder a esta mensagem {{ $json.chatInput }} Use as\ninformações da ferramenta POLITICA\n#Como você Faz\nSuas respostas não devem exceder 200 caracteres, claras e concisas\nSuas respostas são exclusivamente em português"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        260,
        -60
      ],
      "id": "220d7ce2-c418-483d-8aad-80b299df3b50",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "POLITICA",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "POLITICA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "POLITICA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3780d5f5-f2ec-4005-a757-808f82d76d47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "999300694f1d8799534e922c809464798b510b41260a76ef48c4516def025bd8"
  },
  "id": "oPIOOLtKGMf3YaoP",
  "tags": []
}