workflows-n8n/05- Agente com RAG/Carregar_Dados_Pinecone.json
{
  "name": "Carregar Dados Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ek29nWd-KKzcU3Btf5Jr3lhd9_u7jEaQ",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ek29nWd-KKzcU3Btf5Jr3lhd9_u7jEaQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "441549b4-ac46-4f89-aae3-896078b43b7a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "odwax8sLlaIETD2L",
          "name": "Google Drive account 49"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "cb422f1a-5f38-4a69-97c9-c52a0050d7ec",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "odwax8sLlaIETD2L",
          "name": "Google Drive account 49"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        180
      ],
      "id": "e3e5f63c-537f-4323-92ab-2a3bdc161f98",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bbXp2MlMF9OxMXDv",
          "name": "OpenAi account 37"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        620,
        320
      ],
      "id": "d629dc06-9673-4a32-94bf-8899b0082d2a",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "lojaonline",
          "mode": "list",
          "cachedResultName": "lojaonline"
        },
        "embeddingBatchSize": 50,
        "options": {
          "pineconeNamespace": "namespacen8necomerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "c7e88710-743a-47ae-a218-ecbeab360833",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MCiqKEc4bDzwvQ83",
          "name": "PineconeApi account 14"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $('Google Drive Trigger').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        620,
        160
      ],
      "id": "d28249ea-6e8f-49e4-b2b1-e9000d6d7a7d",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3780d5f5-f2ec-4005-a757-808f82d76d47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "999300694f1d8799534e922c809464798b510b41260a76ef48c4516def025bd8"
  },
  "id": "oUpWSoqV4kVpJeVi",
  "tags": []
}